@import '../../../styles';
.fab-button {
	position: fixed;
	right: 0.5rem;
	bottom: 0.5rem;
}
.stars{
	@include flex-container(column);
	@include media() {
		@include flex-container(row);
	}
	.left-pane {
		@include fixed-flex-item();
		width: 19rem;
	}
	.right-pane {
		@include flex-item;
		@include media() {
			margin-left: 2rem;
		}
	}
}
.active {
	background-color: #ccc;
}
