<md-toolbar class="app-toolbar">
	<button md-icon-button (click)="sidenav.toggle()">
    <md-icon>menu</md-icon>
  </button>
	<h1>{{title}}</h1>
</md-toolbar>
<md-sidenav-container class="app-container">
  <md-sidenav #sidenav mode="over" class="side-nav" (click)="sidenav.close()">
		<md-list *ngIf="!isAuth">
			<h3 md-subheader>User</h3>
			<md-list-item>
		    <md-icon>person</md-icon>
		    <a routerLink="/login" routerLinkActive="active">Login</a>
		  </md-list-item>
		</md-list>
		<md-list *ngIf="isAuth">
			<h3 md-subheader>User</h3>
			<md-list-item>
		    <md-icon>person</md-icon>
		    <a href="#" (click)="logout($event);">Logout</a>
		  </md-list-item>
			<md-list-item>
		    <md-icon>widgets</md-icon>
				<a routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
		  </md-list-item>
		  <h3 md-subheader>Entities</h3>
			<md-list-item>
		    <md-icon>star_border</md-icon>
		    <a routerLink="/stars" routerLinkActive="active">Stars</a>
		  </md-list-item>
			<md-divider></md-divider>
		</md-list>
  </md-sidenav>
	<div class="main">
		<router-outlet></router-outlet>
	</div>
</md-sidenav-container>
