<select-list
	[items]="planetTypes"
	[selected-item]="selectedItem"
	(on-select)="select($event)"
	(on-add)="create()">
</select-list>
<md-card *ngIf="selectedItem">
	<md-card-content>
		<md-input-container class="full-width">
			<input md-input name="name" placeholder="Name" [(ngModel)]="selectedItem.name">
		</md-input-container>
		<md-input-container class="full-width">
			<textarea md-input name="description" placeholder="Description" [(ngModel)]="selectedItem.description"></textarea>
		</md-input-container>
		<md-input-container class="full-width">
			<input md-input name="imageUrl" placeholder="URL of the image" [(ngModel)]="selectedItem.imageUrl">
		</md-input-container>
	</md-card-content>
	<md-card-actions align="end">
		<button md-icon-button (click)="save()">
			<md-icon>save</md-icon>
		</button>
		<button md-icon-button (click)="delete()">
			<md-icon>delete</md-icon>
		</button>
		<button md-icon-button (click)="cancel()">
			<md-icon>cancel</md-icon>
		</button>
	</md-card-actions>
</md-card>
