@import '../../styles';
.login-section {
	/*
	@include media() {
		max-width: 40rem;
	};
	*/
	//font-size: 1.2rem;
	.input-icon {
		height: 1.2rem;
		width: 1.2rem;
		font-size: 1.2rem;
	}
	.button-icon {
		font-size: 1.2rem;
	}
}
