<section>
	<md-card class="config-section">
		<md-card-header>
	    <md-card-title>Database</md-card-title>
		</md-card-header>
		<md-card-content>
			<!--mongodb://user1:HerokuUser1_@ds163667.mlab.com:63667/heroku_k5ks5rws-->
			<form class="config-form">
				<p>
					<md-input-container class="full-width">
						<input md-input disabled placeholder="MongoDB URI:" value="mongodb://<dbuser>:<dbpassword>@<domain>:<port>/<account>">
					</md-input-container>
				</p>
				<p>
					<md-input-container class="full-width">
						<input md-input name="dbuser" placeholder="dbUser" [(ngModel)]="config.db.dbuser">
					</md-input-container>
				</p>
				<p>
					<md-input-container class="full-width">
						<input md-input name="dbpassword" placeholder="dbPassword" [(ngModel)]="config.db.dbpassword">
					</md-input-container>
				</p>
				<p>
					<md-input-container class="full-width">
						<input md-input name="domain" placeholder="Domain" [(ngModel)]="config.db.domain">
					</md-input-container>
				</p>
				<p>
					<md-input-container class="full-width">
						<input md-input name="port" placeholder="Port" [(ngModel)]="config.db.port">
					</md-input-container>
				</p>
				<p>
					<md-input-container class="full-width">
						<input md-input name="account" placeholder="Account" [(ngModel)]="config.db.account">
					</md-input-container>
				</p>
			</form>
		</md-card-content>
		<md-card-actions>
	    <button md-button (click)="save()"><md-icon>check</md-icon> Save</button>
	    <button md-button color="accent"><md-icon>close</md-icon> Discard</button>
	  </md-card-actions>
	</md-card>
</section>
