html, body {
	height: 100%;
	margin: 0;
}
.app {
	position: absolute;
  left: 0;
  top: 0;
  height: 100%;
	width: 100%;
	@include flex-container(column);
}
.input-icon {
	height: 1.2rem;
	width: 1.2rem;
	font-size: 1.2rem;
}
.button-icon {
	font-size: 1.2rem;
}
.full-width {
	width: 100%;
}
.row {
	@include flex-container;
}
.half-width {
	width: 50%;
	@include flex-item;
}
