@mixin flex-container($direction: row) {
	display: flex;
  flex-direction: $direction;
	justify-content: flex-start;
  align-items: stretch;
	align-content: stretch;
}
@mixin fixed-flex-item {
	flex: 0 0 auto;
}
@mixin flex-item {
	flex: 1 1 100%;
}
$medium : 40rem;
@mixin media($size : $medium) {
	@media only screen and (min-width: #{$size}) {
		@content;
	}
}
